---
BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
---
Language: Cpp
PointerAlignment: Right
BreakBeforeBraces: Allman
ColumnLimit: 80
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: ControlStatements
SortIncludes: CaseSensitive
QualifierAlignment: Left
RemoveParentheses: MultipleParentheses
AlignTrailingComments: Always
IncludeBlocks: Preserve

